/* Contains all the animations for the game.
    Author     : Jason J.
    Version    : 0.4.0-20140401
*/

/**
 * #.# Button animations.
 *
 * Defines the flashing animations for the buttons via backlights.
 */
/** All animates are to be done once per showing. */
.flash-super-slow, .flash-normal, .flash-med-fast, .flash-fast, .flash-super-fast {
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/** The main backlights. */
.flash-super-slow .main-backlight{
    -webkit-animation: cycle-main-backlight-opacity 5.8s ;
    -moz-animation: cycle-main-backlight-opacity 5.8s ;
    -o-animation: cycle-main-backlight-opacity 5.8s ;
    animation: cycle-main-backlight-opacity 5.8s ;
    
}

.flash-normal .main-backlight{
    -webkit-animation: cycle-main-backlight-opacity 0.8s ;
    -moz-animation: cycle-main-backlight-opacity 0.8s ;
    -o-animation: cycle-main-backlight-opacity 0.8s ;
    animation: cycle-main-backlight-opacity 0.8s ;
    
}

.flash-med-fast .main-backlight{
    -webkit-animation: cycle-main-backlight-opacity 0.6s ;
    -moz-animation: cycle-main-backlight-opacity 0.6s ;
    -o-animation: cycle-main-backlight-opacity 0.6s ;
    animation: cycle-main-backlight-opacity 0.6s ;
    
}

.flash-fast .main-backlight{
    -webkit-animation: cycle-main-backlight-opacity 0.3.5s;
    -moz-animation: cycle-main-backlight-opacity 0.3.5s;
    -o-animation: cycle-main-backlight-opacity 0.3.5s;
    animation: cycle-main-backlight-opacity 0.3.5s;
    
}

.flash-super-fast .main-backlight{
    -webkit-animation: cycle-main-backlight-opacity 0.2s;
    -moz-animation: cycle-main-backlight-opacity 0.2s;
    -o-animation: cycle-main-backlight-opacity 0.2s;
    animation: cycle-main-backlight-opacity 0.2s;
    
}

/** Backlight bulb flashes*/
.flash-super-slow .bulb-backlight{
    -webkit-animation: cycle-bulb-backlight-opacity 5.8s;
    -moz-animation: cycle-bulb-backlight-opacity 5.8s;
    -o-animation: cycle-bulb-backlight-opacity 5.8s;
    animation: cycle-bulb-backlight-opacity 5.8s;
    
}

.flash-normal .bulb-backlight{
    -webkit-animation: cycle-bulb-backlight-opacity 0.8s;
    -moz-animation: cycle-bulb-backlight-opacity 0.8s;
    -o-animation: cycle-bulb-backlight-opacity 0.8s;
    animation: cycle-bulb-backlight-opacity 0.8s;
    
}

.flash-med-fast .bulb-backlight{
    -webkit-animation: cycle-bulb-backlight-opacity 0.6s;
    -moz-animation: cycle-bulb-backlight-opacity 0.6s;
    -o-animation: cycle-bulb-backlight-opacity 0.6s;
    animation: cycle-bulb-backlight-opacity 0.6s;
    
}

.flash-fast .bulb-backlight{
    -webkit-animation: cycle-bulb-backlight-opacity 0.3.5s;
    -moz-animation: cycle-bulb-backlight-opacity 0.3.5s;
    -o-animation: cycle-bulb-backlight-opacity 0.3.5s;
    animation: cycle-bulb-backlight-opacity 0.3.5s;
    
}

.flash-super-fast .bulb-backlight{
    -webkit-animation: cycle-bulb-backlight-opacity 0.2s;
    -moz-animation: cycle-bulb-backlight-opacity 0.2s;
    -o-animation: cycle-bulb-backlight-opacity 0.2s;
    animation: cycle-bulb-backlight-opacity 0.2s;
    
}


/**
 * #.# Border animations.
 *
 * Defines the colour shift animations for the outer hexagon.
 */
/** Fades the green twice. */
#game-body-wrapper.correct-background-fade {
    -webkit-animation: grey-fade-green-background 1.2s 2;
    -moz-animation: grey-fade-green-background 1.2s 2;
    -o-animation: grey-fade-green-background 1.2s 2;
    animation: grey-fade-green-background 1.2s 2;
}
/** Fades from red and shakes. */
#game-body-wrapper.wrong-background-fade {
    -webkit-animation: red-shake-grey-background 3.5s 1;
    -moz-animation: red-shake-grey-background 3.5s 1;
    -o-animation: red-shake-grey-background 3.5s 1;
    animation: red-shake-grey-background 3.5s 1;
}

/** ------------------------------------------------------------------------- */
/** ------------------------------------------------------------------------- */
/** ------------------------------------------------------------------------- */

/**
 * #.# Actual animations.
 *
 * The actual animations with browser prefixing. 
 */

/** #.## Main backlight opacity cycle. 
 *
 * The main backlight animations
 */
@keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
}

@-webkit-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-moz-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-o-keyframes  cycle-main-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.5;
        /* Good browsers */
        opacity: 0.5;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

/** ------------------------------------------------------------- */

/** #.## Bulb backlight opacity cycle. 
 *
 * The main backlight animations
 */
@keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

@-webkit-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }   
}

@-moz-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }    
}

@-o-keyframes  cycle-bulb-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

/** ------------------------------------------------------------- */

/** #.## Grey-to-green fade.
 *
 * Used for correct answers.
 */
@keyframes grey-fade-green-background {
    0% {
        background: #181818;
    }
    45% {
        /** Medium green. */
        background: #1d8f01;
    }
    100% {
        background: #181818;
    }
}
@-o-keyframes grey-fade-green-background {
    0% {
        background: #181818;
    }
    45% {
        /** Medium green. */
        background: #1d8f01;
    }
    100% {
        background: #181818;
    }
}
@-moz-keyframes grey-fade-green-background {
    0% {
        background: #181818;
    }
    45% {
        /** Medium green. */
        background: #1d8f01;
    }
    100% {
        background: #181818;
    }
} 
@-webkit-keyframes grey-fade-green-background {
    0% {
        background: #181818;
    }
    45% {
        /** Medium green. */
        background: #1d8f01;
    }
    100% {
        background: #181818;
    }
}

/** ------------------------------------------------------------- */

/** #.## red-to-grey long fade.
 *
 * Used for wrong answers.
 */
@keyframes red-shake-grey-background {
    0% {
        left: 50%;
        background: #181818;
    }
    0.5% {
        left: 51%;
    }
    1% {
        left: 49%;
    }
    2.5% {
        left: 50.8%;
    }
    3.0% {
        left: 49.2%;
    }
    3.5% {
        left: 50%;
        /** Medium red. */
        background: #d50601;
    }
    29%{
        background: #d50601;
    }
    100% {
        background: #181818;
    }
}
@-o-keyframes red-shake-grey-background {
    0% {
        left: 50%;
        background: #181818;
    }
    0.5% {
        left: 51%;
    }
    1% {
        left: 49%;
    }
    2.5% {
        left: 50.8%;
    }
    3.0% {
        left: 49.2%;
    }
    3.5% {
        left: 50%;
        /** Medium red. */
        background: #d50601;
    }
    29%{
        background: #d50601;
    }
    100% {
        background: #181818;
    }
}
@-moz-keyframes red-shake-grey-background {
    0% {
        left: 50%;
        background: #181818;
    }
    0.5% {
        left: 51%;
    }
    1% {
        left: 49%;
    }
    2.5% {
        left: 50.8%;
    }
    3.0% {
        left: 49.2%;
    }
    3.5% {
        left: 50%;
        /** Medium red. */
        background: #d50601;
    }
    29%{
        background: #d50601;
    }
    100% {
        background: #181818;
    }
}  
@-webkit-keyframes red-shake-grey-background {
    0% {
        left: 50%;
        background: #181818;
    }
    0.5% {
        left: 51%;
    }
    1% {
        left: 49%;
    }
    2.5% {
        left: 50.8%;
    }
    3.0% {
        left: 49.2%;
    }
    3.5% {
        left: 50%;
        /** Medium red. */
        background: #d50601;
    }
    29%{
        background: #d50601;
    }
    100% {
        background: #181818;
    }
}
