/* Contains all the animations for the game.
    Author     : Jason J.
    Version    : 0.2.1-20140329
*/

/**
 * #.# Button animations.
 *
 * Defines the flashing animations for the buttons via backlights.
 */
/** All animates are to be done once per showing. */
.flash-super-slow, .flash-normal, .flash-med-fast, .flash-fast, .flash-super-fast {
    animation-iteration-count: 1;
}
/** The main backlights. */
.flash-super-slow .main-backlight{
    animation: cycle-main-backlight-opacity 2.8s ;
    -webkit-animation: cycle-main-backlight-opacity 2.8s ;
}

.flash-normal .main-backlight{
    animation: cycle-main-backlight-opacity 0.8s ;
    -webkit-animation: cycle-main-backlight-opacity 0.8s ;
}

.flash-med-fast .main-backlight{
    animation: cycle-main-backlight-opacity 0.6s ;
    -webkit-animation: cycle-main-backlight-opacity 0.6s ;
}

.flash-fast .main-backlight{
    animation: cycle-main-backlight-opacity 0.4s;
    -webkit-animation: cycle-main-backlight-opacity 0.4s;
}

.flash-super-fast .main-backlight{
    animation: cycle-main-backlight-opacity 0.2s;
    -webkit-animation: cycle-main-backlight-opacity 0.2s;
}

/** Backlight bulb flashes*/
.flash-super-slow .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 2.8s;
    -webkit-animation: cycle-bulb-backlight-opacity 2.8s;
}

.flash-normal .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.8s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.8s;
}

.flash-med-fast .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.6s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.6s;
}

.flash-fast .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.4s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.4s;
}

.flash-super-fast .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.2s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.2s;
}



/** ------------------------------------------------------------- */

/**
 * #.# Actual animations.
 *
 * The actual animations with browser prefixing. 
 */
/** Main backlight opacity cycle. */
@keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
}

@-webkit-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-moz-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-o-keyframes  cycle-main-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.5;
        /* Good browsers */
        opacity: 0.5;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

/** ------------------------------------------------------------- */

/** Bulb backlight opacity cycle. */
@keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

@-webkit-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }   
}

@-moz-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }    
}

@-o-keyframes  cycle-bulb-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    0.4%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    35% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

/** ------------------------------------------------------------- */