/* Contains all the animations for the game.
    Author     : Jason J.
    Version    : 0.2.0-20140328
*/

/**
 * #.# Button animations.
 *
 * Defines the flashing animations for the buttons via backlights.
 */
.flash-normal, .flash-med-fast, .flash-fast {
    animation-iteration-count: 1;
}

.flash-normal .main-backlight{
    animation: cycle-main-backlight-opacity 0.8s ;
    -webkit-animation: cycle-main-backlight-opacity 0.8s ;
}

.flash-med-fast .main-backlight{
    animation: cycle-main-backlight-opacity 0.6s ;
    -webkit-animation: cycle-main-backlight-opacity 0.6s ;
}

.flash-fast .main-backlight{
    animation: cycle-main-backlight-opacity 0.4s;
    -webkit-animation: cycle-main-backlight-opacity 0.4s;
}

.flash-normal .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.8s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.8s;
}

.flash-med-fast .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.6s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.6s;
}

.flash-fast .bulb-backlight{
    animation: cycle-bulb-backlight-opacity 0.4s;
    -webkit-animation: cycle-bulb-backlight-opacity 0.4s;
}



/** ------------------------------------------------------------- */

/**
 * #.# Actual animations.
 *
 * The actual animations with browser prefixing. 
 */
/** Partial opacity cycle. */
@keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
}

@-webkit-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-moz-keyframes cycle-main-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.7;
        /* Good browsers */
        opacity: 0.7;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

@-o-keyframes  cycle-main-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.5;
        /* Good browsers */
        opacity: 0.5;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.05;
        /* Good browsers */
        opacity: 0.05;
    }    
}

/** ------------------------------------------------------------- */

/** Full opacity cycle. */
@keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

@-webkit-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }   
}

@-moz-keyframes cycle-bulb-backlight-opacity {
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }    
}

@-o-keyframes  cycle-bulb-backlight-opacity{
    0% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }
    40%{
        /* Safari 1.x */
        -khtml-opacity: 0.90;
        /* Good browsers */
        opacity: 0.90;
    }
    60% {
        /* Safari 1.x */
        -khtml-opacity: 0.95;
        /* Good browsers */
        opacity: 0.95;
    }
    100% {
        /* Safari 1.x */
        -khtml-opacity: 0.0;
        /* Good browsers */
        opacity: 0.0;
    }     
}

/** ------------------------------------------------------------- */