/*  Contains the styles for the basic memory game layout.

Calculation for main hexagons:
(width/2) * tan(30 deg) = triangle height (simple trig)

    version: 0.6.0-20140410
    Created on : Mar 23, 2014, 12:36:20 PM
    Author     : Jason J.
*/
html, body{
    /** Remove the click colour on ipads. */
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-touch-callout: none;
    /* Disable selection/copy in UIWebView */
    -webkit-user-select: none; 
    
    height: 100%;
    background: #000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
    color: #7a7a7a;
    font-size: 14pt;
}
/** The auto-progress checkbox. */
input#auto-progress {
    margin: 10px;
}
/** All labels need a pointer. */
label {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
/** All inputs. */
input {
    cursor: pointer;
}
/**
 * #.# Header board
 *
 * Where the current score and controls are shown.
 */
#header-board{
    z-index: 99;
}
/** All elements align center vertically. */
#header-board  * {
    line-height: 18pt;
    position: relative;
    display: inline-block;
    vertical-align: middle;
        
    float: left;
    padding: 5px;
    z-index: 99;
}
/** Controls to the right. */
#header-board form {
    float: right;
}
/** Custom labels are larger. */
#header-board .label{
    font-size: 18pt;
}
/** Score is to the right of the score divs. */
#header-board .score{
    float: right;
    font-size: 18pt;
}
/** The score ontainer sizes. */
#header-board #score-best, 
#header-board #score-current{
    margin-left: 20px;
    width: 150px;
}
/** Re style the reset button to ''fit in'. */
#header-board #reset-button {
    background: none;
    border: #2f2f2f 2px solid;
    
    font-size: 14pt;
    color: #4f4f4f;
    
    height: 34px;
    width: 82px;    
    
    margin-left: 10px;
    padding: 0px;
}
#header-board #reset-button:active{
    color: #7f7f7f;
    border: #5f5f5f 2px solid;
}

/**
 * #.# Game body 
 *
 * The main play area where the action happens. 
 */

/** Make the border/background be behind the main body. */
#game-body-wrapper,
#game-body-wrapper:before, 
#game-body-wrapper:after {
    z-index: 1;
}

/** Make the main body be in front. */
#game-body,
#game-body:before, 
#game-body:after {
    z-index: 2;
}

/** Wrapper- the border of the game. */ 
#game-body-wrapper {
    position: absolute; 
    
    /*height: 236px; + 2*166 */
    height: 668px;
    width: 582px;
    
    top: 50%;
    left: 50%;
    margin-top: -334px;
    margin-left: -291px;
    
    text-align: center; 
    background: #181818;
    /* background-image: radial-gradient(
                        circle farthest-side,
                        #aaaaaa,
                        #181818
                      ); */
    
}
/** Shifting to masking scheme. */
/** Part 1: to giving the wrapper a hexagonal shape. 
Remember to balance the widths here with the width in the 
#game-body-wrapper. */
#game-body-wrapper:before, 
#game-body-wrapper:after {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    
    content: "";
    width: 6px;
    height: 0px;
        
    background: none;
    /** Match main background colour. */ 
    border: 5px solid black;
    border-right: 298px solid black; 
    border-left: 298px solid black; 
    z-index: 10;
}

/** Part 2b: to giving the wrapper a hexagonal shape. 
Remember to balance the heights here with the heights in the 
#game-body-wrapper. */
#game-body-wrapper:before {    
    top: -5px;
    border-bottom: 171px solid transparent; 
    
}
/** Part 2a: to giving the wrapper a hexagonal shape. 
Remember to balance the heights here with the heights in the 
#game-body-wrapper. */
#game-body-wrapper:after {
    bottom: -5px;
    border-top: 171px solid transparent; 
}


/** The game body */ 
#game-body {
    position: absolute; 
    
    -webkit-transform: translateZ(0);
    
    height: 324px;
    width: 561px;
    
    top: 50%;
    left: 50%;
    margin-top: -162px;
    margin-left: -280px;
    
    text-align: center; 
    background: black;
    background-image: radial-gradient(
                         circle closest-side,
                        black,
                        #212121,
                        black
                      );
    
    border-top: black solid 1px;
    border-bottom: black solid 1px;    
    border-radius: 3px;
}
/** The game body hex top and bottom. */ 
#game-body:before, 
#game-body:after {
    position: absolute;
    left: 50%;
    margin-left: -280px;
    
    content: " ";
    width: 6px;
    height: 0px;
    
    border-right: 277px solid transparent; 
    border-left: 277px solid transparent; 
    border-radius: 5px;
}
/** The game body hex top */ 
#game-body:before {    
    top: -161px;
    border-bottom: 161px solid black; 
}
/** The game body hex bottom */ 
#game-body:after {
    bottom: -161px;
    border-top: 161px solid black; 
}

/** ------------------------------------------------------------- */

/**
 * #.# Button styles
 *
 * Here are defined the styles for the light buttons.
 */

/** Middle button. Used for start, retry, and continue. */
#middle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-top: -75px;
    margin-left: -64px;
        
    width: 128px;
    height: 150px;  
    z-index: -3;
    
    text-align: center;
    line-height: 150px;
    
    color: #0c0c0c;
    font-size: 16pt;
}

#middle-button.active {
    /** Dark green. */
    background: #189901;
    background-image: radial-gradient(
                         circle farthest-side,
                        #189901,
                        /** very dark green. */
                        #082d01
                      );
}

#middle-button.active.bad {
    /** Medium red. */
    background: #d50601;
    background-image: radial-gradient(
                         circle farthest-side,
                        #d50601,
                        /** very dark red. */
                        #2d0301
                      );
}

#middle-button,
#middle-button.inactive {
    background: #3f3f3f;
    background-image: radial-gradient(
                         circle farthest-side,
                        #181818,
                        #2f2f2f
                      );
}

#middle-button:before,
#middle-button:after {
    position: absolute; 
    left: 50%;
    margin-left: -68px;
    
    height: 0px;
    width: 0px;
    content: "";
    
    border-left: 68px #1f1f1f solid ;
    border-right:68px #1f1f1f solid;
}
#middle-button:before{
    top: 0px;
    border-bottom: 38px transparent solid;
}
#middle-button:after{
    bottom: 0px;
    border-top: 38px transparent solid;
}

/**
 * #.## Button locations
 *
 * Here are defined the locations & rotations of the buttons.
 * Top layer is z-index: 5, 
 * Bulb layer is z-index: -1,
 * Main backlight layer is z-index: -2
 */

/** Define the origin of all buttons to be their center.  */
.row-1, .row-2, .row-3{
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-transform-origin:50% 50%; /* Chrome, Safari, Opera */
    
    z-index: 5;
}

/** Define row 1 to be at the appropriate height. */
.row-1 {
    position: absolute;
    top: 50%;
    margin-top: -250px;  
    
}
/** Define row 2 to be at the appropriate height. */
.row-2{
    position: absolute; 
    top: 50%;
    margin-top: -100px;    
    
    
}
/** Define row 3 to be at the appropriate height. */
.row-3 {
    position: absolute;
    bottom: 50%;
    margin-bottom: -250px;   
}

/** Define all row 1 and right columns to the right. */
.row-1.right-col ,
.row-3.right-col {
    position: absolute;
    right: 50%;
    margin-right: -127px;
    
}

/** Define all row 1 and left columns to the left. */
.row-1.left-col ,
.row-3.left-col {
    position: absolute;
    left: 50%;
    margin-left: -127px;
}

/** 
 * #.### Button style: Appropriate rotations. 
 *
 * Apply the appropriate rotations for each row and column.
 */


.row-2.right-col {
    position: absolute;
    right: 50%;
    margin-right: -215px;
    
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */        
}

.row-2.left-col {
    position: absolute;
    left: 50%;
    margin-left: -215px;
    
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */    
}

/** Define remaining right rotations. */
.row-1.right-col {     
    transform: rotate(-150deg);
    -ms-transform: rotate(-150deg); /* IE 9 */
    -webkit-transform: rotate(-150deg); /* Chrome, Safari, Opera */    
}
.row-3.right-col {     
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */    
}

/** Define left rotations. */
.row-1.left-col {  
    transform: rotate(150deg);
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
}


.row-3.left-col {  
    transform: rotate(30deg);
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */    
}


/**
 * #.## Trapizum Buttons 
 *
 * Here are defined the styles for the trapizium button shapes.
 */

/** Wrapper width is defined as 2 sides + middle: 
115 * 2 + 80 = 310 */
.trapezium-button-wrapper {
}
 /** 
 Height is set to (owidth/2) - 30px for padding .
 Width is set to x - 10px for padding - y for triangles
 
 x = (owidth/2)/tan(60 deg)
 y = x - 90 - 10;
 
 where owidth and oheight are the dimentions of the game-body. */
.trapezium-button {
    content: "";
    height: 200px;
    width: 80px;
    
    /** Default colour. */
    background: red;
      
}

/** Defining the left and right pseudo-elements. */
.trapezium-button:before, 
.trapezium-button:after {
    position: absolute;
    top: 0px;
    content: "";
    width: 0px;
    height: 0px;
    
    border-top: 200px solid transparent; 
    
}
/** The left triangle. Default colour red; */
.trapezium-button:before {
    left: -114px;
    border-right: 115px solid red; 
}
/** The right triangle. Default colour red; */
.trapezium-button:after {
    right: -114px;
    border-left: 115px solid red; 
}

/**
 * #.## Image map hack.
 *
 * Allows the image map to be used to define clicking areas.
 */
.map-hack {
    position: absolute;
    
    top: 10px;
    left: 50%;
    margin-left: -280px;
    
    /** Same height defined by game body. */
    height: 656px;
    /** Width same as game body. */
    width: 561px;
    
    /** Ensure the the map is clickable. */
    z-index: 999;
    
    background: none;    
}

/** ------------------------------------------------------------- */

/** 
 * * #.## Grid patterns
 *
 * Defines the attributes of the button's texture pattern. 
 */

/** Size is depending on trapezium-button size. */
.button-pattern-underlay {
    position: absolute;
    
    /** Above the trapeiziums. */
    z-index: 10;
    opacity: 0.04   ;
    
    height: 200px;
    width: 80px;
    
    background-image: 
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255, 0),
      rgba(255,255,255, 0) 7px, 
      rgba(55,55,55, 0) 10px,
      rgba(45,45,45, 50) 3px,
      rgba(55,55,55, 0) 15px /* determines size */
    );
}
/** Creates trapeziums. */
.button-pattern-underlay:before,
.button-pattern-underlay:after {
    position: absolute;
    bottom: 0px;
    
    content: " ";
    height: 175px;
    width: 105px;
    
    background-image: 
    repeating-linear-gradient(
        0deg,
      rgba(255,255,255, 0),
      rgba(255,255,255, 0) 7px, 
      rgba(55,55,55, 0) 10px,
      rgba(45,45,45, 50) 3px,
      rgba(55,55,55, 0) 15px /* determines size */
    );
}
/** Right parallelogram. */
.button-pattern-underlay:after{
    right: -62px;
    -webkit-transform: skewX(30deg);
  -moz-transform:    skewX(30deg);
  -ms-transform:     skewX(30deg);
  -o-transform:      skewX(30deg);
  transform:         skewX(30deg);
}
/** Left parallelogram. */
.button-pattern-underlay:before{
   left: -62px;
  -webkit-transform: skewX(-30deg);
  -moz-transform:    skewX(-30deg);
  -ms-transform:     skewX(-30deg);
  -o-transform:      skewX(-30deg);
  transform:         skewX(-30deg);
}


/** ------------------------------------------------------------- */

/** 
 * * #.## Lumenescence
 *
 * Defines the attributes of the glowiness (jargon!) of the buttons. 
 */

.trapezium-button {
      /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
   /* IE 5-7 */
   filter: alpha(opacity=63);
   /* Safari 1.x */
   -khtml-opacity: 0.63;
   /* Older than Firefox 0.9 */
   -moz-opacity: 0.63;
   /* Good browsers */
   opacity: 0.63;
   
}
/* Set the button to be in front. */
.trapezium-button,
.trapezium-button:before,
.trapezium-button:after {
   z-index: 5;
}
/** Main backlight at the back. */
.main-backlight.trapezium-button,
.main-backlight.trapezium-button:before,
.main-backlight.trapezium-button:after {
   z-index: -6;
}
/** Bulb backlight in front of that. */
.bulb-backlight {
    z-index: -5;
}

/** The white background, 
 * Relies on the trapezium being translucent. */
.main-backlight.trapezium-button {
    display: block;
    position: absolute;
    background: white;
    
    /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=05)";
   /* IE 5-7 */
   filter: alpha(opacity=05);
   /* Safari 1.x */
   -khtml-opacity: 0.05;
   /* Older than Firefox 0.9 */
   -moz-opacity: 0.05;
   /* Good browsers */
   opacity: 0.05;
}
.main-backlight.trapezium-button:before {
    border-right-color: white; 
}
.main-backlight.trapezium-button:after {
    border-left-color: white; 
}

/** The "bulb" backlight for producing a nice spot effect. */
.bulb-backlight {
    position: absolute;
    
    bottom: 0%;
    left: 50%;  
    
    margin-left: -125px;
    
    height: 120px;
    width: 250px;
    
    /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* Safari 1.x */
   -khtml-opacity: 0.0;
   /* Older than Firefox 0.9 */
   -moz-opacity: 0.0;
   /* Good browsers */
   opacity: 0.0;
   
   background: none;
    
   background-image: radial-gradient(
                        ellipse closest-side,
                        white,
                        rgba(255,255,255,0)
                      );    
}


/** ------------------------------------------------------------- */
